{% extends 'airport/base.html' %}

{% block body %}
    <h1>List of all airports in North America</h1>

    <form action="" method="GET">
        <input type="search" name="airport_name">
        <button type="submit">Search</button>
    </form>

    {% for item in airport_list %}
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-4">
                <h4>{{ item.airport_name }}</h3>
                <h6>{{ item.municipality }}</h3>
                <h6>{{ item.country }}</h3>
            </div>
            <div class="col-md-2">
                <a href="{% url 'airport:detail'  item.airport_id %}" class="btn btn-success">Details</a>
            </div>
        </div>
    {% endfor %}

    <div class="pagination">
        <span class="step-links">
            {% if airport_list.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ airport_list.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ airport_list.number }} of {{ airport_list.paginator.num_pages }}.
            </span>

            {% if airport_list.has_next %}
                <a href="?page={{ airport_list.next_page_number }}">next</a>
                <a href="?page={{ airport_list.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}